@model IEnumerable<CWFinal_1628.Models.Material>

@{
    ViewBag.Title = "Index";
}

<style>
    .mid {
        text-align: center;
    }
</style>
<h2 class="mid">Assign Materials</h2>
<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = " btn  btn-success" })
</p>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">List all assign material</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead class="alert-info">
                    <tr>
                        <th class="mid">
                            @Html.DisplayNameFor(model => model.MaterialType.TypeName)
                        </th>
                        <th class="mid">
                            @Html.DisplayNameFor(model => model.MaterialName)
                        </th>
                        <th class="mid">
                            @Html.DisplayNameFor(model => model.MaterialCode)
                        </th>
                        <th class="mid">
                            @Html.DisplayNameFor(model => model.Description)
                        </th>
                        <th class="mid">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.MaterialType.TypeName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MaterialName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MaterialCode)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td class="mid">
                                <a href="@Url.Action("Edit", "Materials", new { id = item.MaterialID })">
                                    <i class="fas fa-edit btn btn-primary btn-sm"></i>
                                </a>
                                <a href="@Url.Action("Delete", "Materials", new { id = item.MaterialID })">
                                    <i class="fas fa-trash-alt btn btn-danger btn-sm"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>